set number relativenumber
set idearefactormode=keep
set ideajoin
set surround
set easymotion
set which-key
set highlightedyank

" Plugin for commenting code
" gcc - comment current line
" gc - comment selection
" gc{motion} - comment to motion
set commentary

" Always yank to clipboard
set clipboard=unnamedplus

" Case-insensitive searching UNLESS \C or one or more capital letters in the search term
set ignorecase true
set smartcase true

" Minimal number of screen lines to keep above and below the cursor.
set scrolloff=10

let mapleader = " "

" registers
nnoremap <leader>sR :registers<CR>

" Line movement
nnoremap <A-j> :m +1<CR>
nnoremap <A-k> :m -2<CR>
inoremap <A-j> <Esc>:m +1<CR>gi
inoremap <A-k> <Esc>:m -2<CR>gi

" Navigate between editor splits
nnoremap <C-h> :action PrevSplitter<CR>
nnoremap <C-l> :action NextSplitter<CR>

nmap <leader>y "*yy
nmap <leader>p "*p
nmap <leader>P "*P
vmap <leader>p "*p
vmap <leader>P "*P

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

nmap gt <action>(NextTab)
nmap gT <action>(PreviousTab)

nmap <C-w>c <action>(CloseEditor)
nmap <leader>x <action>(CloseEditor)
nmap <leader>z <action>(HideAllWindows)
nmap <leader>i <action>(Generate)
nmap <leader>g <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)

" --- NeoVim LSP-based key-bindings ---
" Rename
nnoremap grn :action RenameElement<CR>

" Code actions / quick fixes
nnoremap gra :action ShowIntentionActions<CR>
vnoremap gra :action ShowIntentionActions<CR>

" Find references
nnoremap grr :action FindUsages<CR>

" Go to implementation
nnoremap gri :action GotoImplementation<CR>

" Go to definition
nnoremap grd :action GotoDeclaration<CR>

" Go to declaration
nnoremap grD :action GotoDeclaration<CR>

" Document symbols (file structure)
nnoremap gO :action FileStructurePopup<CR>

" Workspace symbols (search everywhere)
nnoremap gW :action GotoClass<CR>

" Go to type definition
nnoremap grt :action GotoTypeDeclaration<CR>

" --- Telescope-like search mappings for IdeaVim ---

" Search help
nnoremap <leader>sh :action HelpTopics<CR>

" Search keymaps
nnoremap <leader>sk :action Keymap<CR>

" Search files
nnoremap <leader>sf :action GotoFile<CR>

" Search in files
nnoremap <leader>sg :action FindInPath<CR>

" Search IDE actions (closest to Telescope builtin picker)
nnoremap <leader>ss :action GotoAction<CR>

" Search current word in project
nnoremap <leader>sw :action FindWordAtCaret<CR>

" Live grep in project
nnoremap <leader>sg :action FindInPath<CR>

" Show diagnostics / problems
nnoremap <leader>sd :action ActivateProblemsViewToolWindow<CR>

" Resume last search (closest IntelliJ equivalent)
nnoremap <leader>sr :action SearchEverywhere<CR>

" Recent files
nnoremap <leader>s. :action RecentFiles<CR>

" Open buffers / recent files switcher
nnoremap <leader><leader> :action RecentFiles<CR>

" Open Project view
nnoremap \ :action ActivateProjectToolWindow<CR>

set NERDTree
let g:NERDTreeMapActivateNode=' '
let g:NERDTreeMapJumpParent='h'
let g:NERDTreeMapJumpParent='p'
